<nav class="navbar navbar-expand-lg py-3 navbar-light bg-light border-bottom "> 
  {{!-- fixed-top for navbar fixing --}}
  <div class="container ">
    <a class="navbar-brand" href="/">
    <img src="{{data.brandIconUrl}}" style="border-radius: 30%;" alt="" width="60" height="38">
    {{data.brandName}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>        
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {{#each data.links}}
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="{{this.url}}">{{this.label}}</a>
        </li>
          {{/each}}

        
      </ul>
    </div>
  </div> 
</nav>
{{!-- <p>{{data}}</p>  --}}